<h1>Detalles del producto</h1>
<h2>{{Producto.name}}</h2>
<p>{{Producto.price}}</p>
<p>+{{Producto.number}}</p>
<img src="{{Producto.image}}" alt="Foto">
<a href="/product/delete/{{Producto._id}}">Borrar</a>
<a href="/product/update/{{Producto._id}}">actualizar</a>